{% extends 'layout2.html' %}

{% block title %}Post Ad{% endblock %}

{% block content %}


<h2>Post Ad</h2>
<div>
    <form id="categories" action="/attributes" enctype="multipart/form-data" method="post">
    <table>
        <tr>
            <td>Category</td>
            <td>{{ form.cat1 }} {{ form.cat2 }} {{ form.cat3 }}</td>
        </tr>
    </table>
    <br>
    <input type="submit" id="submitButton" value="submit">
    </form>
</div>
<script>
let cat1_dropdown = $('#cat1');
let cat2_dropdown = $('#cat2');
let cat3_dropdown = $('#cat3');

//cat1_dropdown.empty();
cat1_dropdown.prop('selectedIndex', 0);
cat2_dropdown.empty();
cat2_dropdown.prop('selectedIndex', 0);
cat3_dropdown.empty();
cat3_dropdown.prop('selectedIndex', 0);
//let cat1_select = document.getElementById('cat1');
//let cat2_select = document.getElementById('cat2');
//let cat3_select = document.getElementById('cat3');
   
$("#cat1").change(function(){
    cat2_dropdown.empty();
    cat3_dropdown.empty();
    let cat_choice = $("#cat1").val();
    //alert(cat_choice);
    $.getJSON('/cat/' + cat_choice, function (data) {
        $.each(data, function (key, entry) {
            $("#cat2").append($('<option></option>').attr('value', entry.id).text(entry.name));
        })
        cat3_dropdown.empty();
        try {
            let cat2_choice = $("#cat2").val();
            $.getJSON('/cat2/' + cat_choice + '~' + cat2_choice, function (data) {
                $.each(data, function (key, entry) {
                $("#cat3").append($('<option></option>').attr('value', entry.id).text(entry.name));
                })
            });
        }
        catch(err) {
            cat3_dropdown.empty();
        } 
    });

});

$("#cat2").change(function(){
    cat3_dropdown.empty();
    let cat1_choice = $("#cat1").val();
    let cat2_choice = $("#cat2").val();
    $.getJSON('/cat2/' + cat1_choice + '~' + cat2_choice, function (data) {
        $.each(data, function (key, entry) {
            $("#cat3").append($('<option></option>').attr('value', entry.id).text(entry.name));
        })
    });
});

$("#submitButton").click(function () {
    $("#categories").submit();
    //$("#PostForm").submit();
});
//    cat1_select.onchange = function() {
//        choice1 = cat1_select.value;
//
//        fetch('/cat/' + choice1).then(function(response) {
//            response.json().then(function(data) {
//            let option = '';
//
//            for(let item of data.choices) {
//                option += '<option value="' + item.id + '">' + item.name + '</option>';
//            }
//
//            cat2_select.innerHTML = option;
//            cat3_select.innerHTML = '';
//            });
//        });
//    }
//
//    cat2_select.onchange = function() {
//        choice1 = cat1_select.value;
//        choice2 = cat2_select.value;
//
//        
//        fetch('/cat2/' + choice1 + '~' + choice2).then(function(response) {
//            response.json().then(function(data) {
//            let option = '';
//
//            for(let item of data.choices) {
//                option += '<option value="' + item.id + '">' + item.name + '</option>';
//            }
//
//            cat3_select.innerHTML = option;
//            });
//        });
//    }
  </script>
{% endblock %}